// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  min-height: 100vh;
}

.body{
  padding-top: 10vh
}

.no-margin{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.special-sauce{
  border: 1px solid red;
  padding: 10px;
}
